/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Parents and Containers */
body {
  background-color: #525759;
  color: #fff;
  text-shadow: 3px 2px 15px #34ff6d;
}

.main_container {
  text-align: center;
  height: 70vh;
  width: 70vw;
  border-radius: 10px;
  margin: 15vh 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
  box-shadow: 4px 4px 10px 2px #1f1f1fd9;
}

/* Header */
.heading h3 {
  margin-block-start: -35px;
}

.sub-heading {
  margin-block-end: 15px;
  height: 30px;
}

#winner_msg {
  margin-block-start: 2px;
  color: rgb(1, 223, 119);
  font-weight: bolder;
  text-shadow: 2px 0.5px 15px #00ff65;
  text-align: center;
}

/* Main Section */
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 500px;
  max-width: 200px;
  margin: 2px;
  padding: 10px;
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 100px 15px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 59%);
  box-shadow: 1px 1px 10px 2px black;
  color: rgb(255, 0, 0);
  text-shadow: 0px 0px 15px #ff0000;
  font-weight: bolder;
}



.winner-box {
  color: rgb(163, 234, 149);
  text-shadow: 0px 0px 15px #00ff0e;
  font-weight: bolder;
}

/* Bottom */
.status {
  margin-top: 10px;
  font-size: 50px;
}

.status button {
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8rem;
}

#newGame {
  background-color: #747474;
  color: #120606a6;
  text-shadow: 4px 3px 10px black;
  border-radius: 5px;
  font-weight: bolder;
  border: none;
  box-shadow: 1px 1px 20px 4px #211f1f;
  padding: 10px;
  font-size: 10px;
}
